In [2]:
import pandas as pd

import numpy as np

df=pd.read_excel(r'C:\Users\Oladayo\Desktop\UCS-Satellite-Database-9-1-2021.xls')

df.drop(['Unnamed: 37',
       'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41',
       'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45',
       'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49',
       'Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52', 'Unnamed: 53',
       'Unnamed: 54', 'Unnamed: 55', 'Unnamed: 56', 'Unnamed: 57',
       'Unnamed: 58', 'Unnamed: 59', 'Unnamed: 60', 'Unnamed: 61',
       'Unnamed: 62', 'Unnamed: 63', 'Unnamed: 64', 'Unnamed: 65',
       'Unnamed: 66'], axis=1, inplace=True) 

df.drop([4550,4551,4552],axis=0,inplace=True)

for country in df['Country of Operator/Owner']:
    
    if '/' in country or country=='Multinational' or country=='ESA':
        
        df['Country of Operator/Owner'].replace(to_replace = country, value = 'Others',inplace=True)
        
df['Country of Operator/Owner'].replace(to_replace = 'China ', value = 'China',inplace=True)

df['Purpose'].replace(to_replace='Earth Observation ', value='Earth Observation', inplace=True)

filtered_df=df[df['Purpose']=='Earth Observation']

list_countries=list(filtered_df['Country of Operator/Owner'].unique())

list_countries.remove('Others')

print(list_countries)

print(len(list_countries))

['USA', 'Denmark', 'Spain', 'Algeria', 'Brazil', 'Russia', 'Belgium', 'Turkey', 'Japan', 'China', 'Germany', 'Belarus', 'France', 'India', 'South Korea', 'South Africa', 'Italy', 'Mexico', 'United Kingdom', 'United Arab Emirates', 'Egypt', 'Israel', 'Ethiopia', 'Colombia', 'Taiwan', 'Finland', 'Kazakhstan', 'Singapore', 'Luxembourg', 'Indonesia', 'Canada', 'Vietnam', 'Mauritius', 'Morocco', 'Thailand', 'Slovenia', 'Nepal', 'Nigeria', 'Iran', 'Norway', 'Argentina', 'Sweden', 'Pakistan', 'Peru', 'Sri Lanka', 'Saudi Arabia', 'Sudan', 'Chile', 'Poland', 'Iraq', 'Estonia', 'Venezuela']
52

In [3]:
date_launch_oldest_satellite=(df['Date of Launch'].min())

filtered_df2=df[df['Date of Launch']==date_launch_oldest_satellite]

satellite_name=str(list(filtered_df2['Current Official Name of Satellite']))

satellite_name=satellite_name[2:-2]

print('The oldest working satellite is {} and it was launched on {}'.format(satellite_name,date_launch_oldest_satellite))

The oldest working satellite is Amsat-Oscar 7 and it was launched on 1974-11-15 00:00:00

In [5]:
df['Perigee (km)']=df['Perigee (km)'].astype('string') 

df['Apogee (km)']=df['Apogee (km)'].astype('string')

df['altitude range']=df['Perigee (km)'] + '-'+ df['Apogee (km)']

altitude_range_mode=str(df['altitude range'].mode())

print(altitude_range_mode)

filtered_df3= df[df['altitude range']=='548.0-561.0']

print(filtered_df3['Current Official Name of Satellite'].count())

0    548.0-561.0
dtype: string
777

In [6]:
df['Purpose'].value_counts()

Communications                                    2854
Earth Observation                                  995
Technology Development                             340
Navigation/Global Positioning                      138
Space Science                                       99
Technology Demonstration                            34
Earth Science                                       18
Navigation/Regional Positioning                     12
Surveillance                                         9
Space Observation                                    8
Earth Observation/Technology Development             7
Communications/Maritime Tracking                     5
Communications/Technology Development                5
Unknown                                              5
Communication                                        2
Earth/Space Observation                              2
Mission Extension Technology                         2
Technology Development/Educational                   2
Earth Observation/Communications                     2
Space Science/Technology Development                 1
Earth Observation/Communications/Space Science       1
Educational                                          1
Platform                                             1
Signals Intelligence                                 1
Communications/Navigation                            1
Earth Science/Earth Observation                      1
Earth Observation/Space Science                      1
Space Science/Technology Demonstration               1
Earth Observation/Earth Science                      1
Satellite Positioning                                1
Name: Purpose, dtype: int64